@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:black;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page-header {
  background-color: #ffffff;
  color: #000000;
}
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
.main-index {
  background-image: url("../images/index-background.jpg");
  background-color:#82B3D3;
  color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.reasons {
  text-align: center;
}
.reasons-caption {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.reasons-description {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.advantages {
  text-align: center;
}
.blue-bg {
  background-color: #82B3D3;
  width: 400px;
  height: 385px;
}
.blue-bg h3 {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: bold;
}
.blue-bg p {
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
}
.light-blue-bg {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}
.light-blue-bg h3 {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: bold;
}
.light-blue-bg p {
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
}
.medium-blue-bg {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 385px;
}
.medium-blue-bg h3 {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: bold;
}
.medium-blue-bg p {
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
}
.features {
  text-align: center;
}
.features-caption {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.features-description {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.infrastructure-item {
  text-align: center;
  width: 400px;
}
.medium-blue-bg h4 {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: bold;
}
.light-blue-bg h4 {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: bold;
}
.search-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
}
.search-description {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}
.subscribe-with-img {
  background-image: url("../images/subscribe-photo.jpg");
  background-color: #82B3D3;
  width: 1200px;
  height: 414px;
}
.subscribe-with-img h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}
.subscribe-with-img p {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
}
.page-footer {
  text-align: center;
}
.footer-phone {
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  margin: 0 auto;
  width: 331px;
}
.conditions {
  background-image: url("../images/catalog-main.jpg");
  background-color: #82B3D3;
  width: 1200px;
  height: 412px;
}
.inner-title {
  font-size: 60px;
  line-height: 68px;
  color: #ffffff;
  font-weight: bold;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
.catalog-filters-title {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
}
.catalog-filters-item {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  font-weight: normal;
}
.catalog-products-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color:#000000;
}
.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  color:#000000;
}
.product-card-link {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
.type-price {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  font-weight: normal;
}
.subscribe-no-img h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
}
.subscribe-no-img p {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
html {
  height: 100%;
}
.main-container {
  flex-grow: 1;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-list {
  margin: 0;
  padding: 0;
  width: 440px;
  margin-left: 238px;
}
.navigation-user {
  max-width: 268px;
  margin-left: 70px;
}
.navigation-logo {
  max-width: 140px;
  margin-left: 70px;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.main-picture {
  display: block;
  margin: 0 auto;
}
.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.advantages-item-with-bg {
  width: 1200px;
  display: flex;
}
.advantages-item {
  width: 400px;
}
.advantages-item-no-bg {
  width: 1200px;
  display: flex;
}
.infrastructure-list {
  margin: 0;
  padding: 0;
  display: flex;
}
.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.footer-social-list {
  display: flex;
  width: 200px;
  margin-left: 70px;
}
.footer-navigation-logo {
  max-width: 115px;
  margin-right: 70px;
}
.catalog-filters {
  display: flex;
}
.catalog-results {
  display: flex;
}
.product-list {
  margin: 0;
  padding: 0;
}
.pagination {
  display: flex;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
}
.inner-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  flex-direction: column;
}
